<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.4/jquery.min.js"
        integrity="sha512-pumBsjNRGGqkPzKHndZMaAG+bir374sORyzM3uulLV14lN5LyykqNk8eEeUlUkB3U0M4FApyaHraT65ihJhDpQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <title>JavaDoc Viewer</title>
    <link rel="stylesheet" href="static/style.css" />
    <link rel="icon" type="image/x-icon" href="static/Logo.svg" />
</head>

<body>
    <script>
        const pickLogo = (id) => {
            $(".logo.selected").removeClass("selected");
            $(`.logo#${id}`).addClass("selected");

            $(".header img").attr("src", `static/logos/logo-${id}.png`);
        };

        const pickColor = (color) => {
            $(".color.selected").removeClass("selected");
            $(`.clr-${color}`).addClass("selected");
            $("body").css("background", `var(--${color}-gradient)`);
            $("body").css("background-size", "100vw 100vh");
            $(".file.selected").css("background", `var(--${color}-color)`);
        };
    </script>
    <nav class="navbar">
        <div class="header">
            <img src="static/logos/logo-0.png">
            <span>JavaDoc Viewer</span>
        </div>
    </nav>

    <main>
        <nav class="sidebar">
            <nav class="explorer">
                <section class="title">
                    <span>Files</span>
                </section>
                <section class="files">
                    {% for file in files %}
                    <a class="file {{ 'selected' if file == selected else ''}}"
                        href="{{ file.removesuffix('.java') + '.html' }}">
                        <img src="static/doc.svg" class="icon">
                        <span>{{ file }}</span>
                    </a>
                    {% endfor %}
                </section>
            </nav>
            <nav class="settings">
                <section class="title">
                    <span>Colors</span>
                </section>
                <div class="colors">
                    <span class="color clr-pink selected" onclick="pickColor('pink');">pink</span>
                    <span class="color clr-green" onclick="pickColor('green');">green</span>
                    <span class="color clr-yellow" onclick="pickColor('yellow');">yellow</span>
                    <span class="color clr-blue" onclick="pickColor('blue');">blue</span>
                    <span class="color clr-red" onclick="pickColor('red');">red</span>
                </div>
                <section class="title">
                    <span>Logos</span>
                </section>
                <div class="logos">
                    <div class="logo selected" onclick="pickLogo(0);" id="0">
                        <img src="static/logos/logo-0.png">
                    </div>
                    <div class="logo" onclick="pickLogo(1);" id="1">
                        <img src="static/logos/logo-1.png">
                    </div>
                    <div class="logo" onclick="pickLogo(2);" id="2">
                        <img src="static/logos/logo-2.png">
                    </div>
                    <div class="logo" onclick="pickLogo(3);" id="3">
                        <img src="static/logos/logo-3.png">
                    </div>
                    <div class="logo" onclick="pickLogo(4);" id="4">
                        <img src="static/logos/logo-4.png">
                    </div>
                </div>
            </nav>
        </nav>

        <div class="wrapper">
            <h2>{{ selected }}</h2>

            {% for cls in classes %}
            <div class="item">
                <header>
                    <span class="{{ cls.__class__.__name__.lower() }}">{{ cls.__class__.__name__.lower() }}</span>
                    <span class="text">{{ cls.name }}</span>
                </header>

                {% if cls.extends %}
                <header class="mini">
                    <img src="static/icons/arrowdown.svg">
                    <span class="class">class</span>
                    <span class="text">{{ cls.extends }}</span>
                </header>
                {% endif %}

                {% for impl in cls.implements %}
                <header class="mini">
                    <img src="static/icons/arrowdown.svg">
                    <span class="interface">interface</span>
                    <span class="text">{{ impl }}</span>
                </header>
                {% endfor %}

                <div class="tags">
                    <span class="tag"><img src="static/icons/{{ cls.visibility }}.svg">{{ cls.visibility }}</span>
                    {% if cls.javadoc.deprecated %}
                    <span class="tag warning" title="{{ cls.javadoc.deprecated }}"><img
                            src="static/icons/warning.svg">Deprecated</span>
                    <br />
                    {% endif %}
                    {% for modifier in cls.modifiers %}
                    <span class="tag"><img src="static/icons/{{ modifier }}.svg">{{ modifier }}</span>
                    {% endfor %}
                </div>

                <p> {{ cls.javadoc.text }} </p>

                {% with cls=cls %}
                {% include "children.j2" %}
                {% endwith %}


                {% if cls.javadoc.author %}
                <span class="author"><img src="static/icons/author.svg"> {{ ', '.join(cls.javadoc.author) }}</span>
                {% endif %}
                {% if cls.javadoc.since %}
                <span class="since"><img src="static/icons/clock.svg"> {{ cls.javadoc.since }}</span>
                {% endif %}
            </div>
            {% else %}
            <div class="empty">
                <img src="static/whoops.png">
                <h1>Whoops!</h1>
                <p>This file is empty.</p>
            </div>
            {% endfor %}
        </div>
    </main>
</body>

</html>